In [76]:
import pandas as pd
import numpy as np

In [77]:
user_data = pd.read_csv("user_data.csv")
post_data = pd.read_csv("post_data.csv")
view_data = pd.read_csv("view_data.csv")

In [78]:
user_data.head(10)

,user_id,first_name,last_name,gender,avatar,city,academics
0,5eece14efc13ae6609000000,Milena,Lacelett,Female,https://robohash.org/quisidomnis.png?size=50x5...,Blagoveshchensk,undergraduate
1,5eece14efc13ae6609000001,Nolan,Satcher,Male,https://robohash.org/dignissimosrepudiandaedol...,Wufeng,undergraduate
2,5eece14efc13ae6609000002,Eveleen,Cotterell,Female,https://robohash.org/remomnissuscipit.png?size...,Barra Bonita,undergraduate
3,5eece14efc13ae6609000003,Petrina,Berr,Female,https://robohash.org/estquasconsectetur.png?si...,San Angelo,undergraduate
4,5eece14efc13ae6609000004,Saunderson,Duquesnay,Male,https://robohash.org/nullaaest.png?size=50x50&...,Olszówka,graduate
5,5eece14efc13ae6609000005,Mirna,Cadwell,Female,https://robohash.org/eoseaqueaut.png?size=50x5...,Vito,graduate
6,5eece14efc13ae6609000006,Michal,Khoter,Female,https://robohash.org/quaeratmagniaperiam.png?s...,Desa Nasol,undergraduate
7,5eece14efc13ae6609000007,Faustine,Abberley,Female,https://robohash.org/etnesciuntlaborum.png?siz...,Yamaguchi-shi,graduate
8,5eece14efc13ae6609000008,Jamima,Di Maria,Female,https://robohash.org/etveltempore.png?size=50x...,Qingshuihe,graduate
9,5eece14efc13ae6609000009,Harris,Smead,Male,https://robohash.org/praesentiumutet.png?size=...,Parawan,undergraduate

In [79]:
post_data.head()

                                               title     category    post_id
0                        Find A Quick Way To GRAPHIC      graphic   10260109
1                                  How To Sell CRAFT        Craft   39550285
2  POLITICS An Incredibly Easy Method That Works ...     politics  935118791
3                  5 Brilliant Ways To Use POLITICAL    political  151805043
4   How To Make Your MATHEMATICS Look Amazing In ...  Mathematics  995833095

In [80]:
view_data.head(6)

                    user_id    post_id           time_stamp
0  5eece14ffc13ae660900008b  136781766  01/01/2019 01:30 PM
1  5eece14efc13ae660900003c   43094523  01/01/2019 01:33 PM
2  5eece14efc13ae6609000025   42428071  01/01/2019 01:43 PM
3  5eece14ffc13ae66090001d4   76472880  01/01/2019 01:54 PM
4  5eece14ffc13ae66090000ac  202721843  01/01/2019 02:00 PM
5  5eece14ffc13ae66090001bd  104702447  01/01/2019 02:04 PM

In [81]:
print("user_data",user_data.shape)
print("post_data",post_data.shape)
print("view_data",view_data.shape)

user_data (500, 7)
post_data (6000, 3)
view_data (71800, 3)

In [82]:
# tef = post_data.loc(post_data['title']=="10 Funny ART Quotes","title")
# tef.head()

In [83]:
user_view_data_merge = view_data.merge(user_data,on='user_id')
user_view_data_merge.head()

,user_id,post_id,time_stamp,first_name,last_name,gender,avatar,city,academics
0,5eece14ffc13ae660900008b,136781766,01/01/2019 01:30 PM,Hollie,Stower,Female,https://robohash.org/natuseosesse.png?size=50x...,Mevo horon,undergraduate
1,5eece14ffc13ae660900008b,122462900,01/02/2019 10:06 AM,Hollie,Stower,Female,https://robohash.org/natuseosesse.png?size=50x...,Mevo horon,undergraduate
2,5eece14ffc13ae660900008b,921614328,01/03/2019 11:45 PM,Hollie,Stower,Female,https://robohash.org/natuseosesse.png?size=50x...,Mevo horon,undergraduate
3,5eece14ffc13ae660900008b,741826386,01/07/2020 08:58 AM,Hollie,Stower,Female,https://robohash.org/natuseosesse.png?size=50x...,Mevo horon,undergraduate
4,5eece14ffc13ae660900008b,602135924,01/07/2020 12:43 PM,Hollie,Stower,Female,https://robohash.org/natuseosesse.png?size=50x...,Mevo horon,undergraduate

In [84]:
# user_view_post_data_merge = post_data.merge(view_data,on='post_id')
# user_view_post_data_merge.head(5)

In [85]:
##user_view_post_data_df=pd.DataFrame(user_view_post_data_merge)
###filter(items=({"category":["graphic"]}))

In [86]:
# df = user_view_post_data_merge.loc[user_view_post_data_merge['category']=="graphic"]
# df.drop_duplicates("post_id",)

In [87]:
# x = input("enter your category ? ")
# post_new=user_view_post_data_merge.loc[user_view_post_data_merge['category']==x,"post_id"]
# post_new

In [88]:
# post_new.drop_duplicates()

In [89]:
df = pd.DataFrame(view_data)

In [90]:
df["user_rating"] = np.random.randint(0,2,size=len(view_data))

In [91]:
df.tail()

                        user_id    post_id           time_stamp  user_rating
71795  5eece14ffc13ae660900018c  615389604  12/31/2019 12:37 AM            1
71796  5eece14ffc13ae660900010c  348689108  12/31/2019 12:50 PM            1
71797  5eece14ffc13ae6609000190  619052165  12/31/2019 12:51 AM            1
71798  5eece14efc13ae6609000067  426384418  12/31/2019 12:51 PM            0
71799  5eece14ffc13ae6609000110  165390871  12/31/2019 12:54 AM            1

In [92]:
df_merge = pd.merge(df,post_data,on='post_id')
df_merge.tail()

,user_id,post_id,time_stamp,user_rating,title,category
71795,5eece14ffc13ae66090000c3,810223923,08/28/2019 06:32 PM,0,7 and a Half Very Simple Things You Can Do To...,graphic
71796,5eece14efc13ae6609000073,810223923,09/15/2019 06:58 PM,0,7 and a Half Very Simple Things You Can Do To...,graphic
71797,5eece14ffc13ae660900017d,810223923,10/31/2019 09:50 PM,0,7 and a Half Very Simple Things You Can Do To...,graphic
71798,5eece14ffc13ae66090000e3,810223923,12/04/2019 03:56 PM,0,7 and a Half Very Simple Things You Can Do To...,graphic
71799,5eece14ffc13ae6609000135,810223923,12/20/2019 09:54 AM,0,7 and a Half Very Simple Things You Can Do To...,graphic

In [93]:
data = df_merge.drop(['time_stamp','category'],axis = 1)
data.tail()

,user_id,post_id,user_rating,title
71795,5eece14ffc13ae66090000c3,810223923,0,7 and a Half Very Simple Things You Can Do To...
71796,5eece14efc13ae6609000073,810223923,0,7 and a Half Very Simple Things You Can Do To...
71797,5eece14ffc13ae660900017d,810223923,0,7 and a Half Very Simple Things You Can Do To...
71798,5eece14ffc13ae66090000e3,810223923,0,7 and a Half Very Simple Things You Can Do To...
71799,5eece14ffc13ae6609000135,810223923,0,7 and a Half Very Simple Things You Can Do To...

In [94]:
combine_post_likes=data.dropna(axis=0,subset=['title'])

In [95]:
#combine_post_likes.to_csv(r'C:\Users\hp\Desktop\post reccomendation\check_new_1.csv',index=False)

In [96]:
combine_post_likes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71800 entries, 0 to 71799
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      71800 non-null  object
 1   post_id      71800 non-null  int64
 2   user_rating  71800 non-null  int32
 3   title        71800 non-null  object
dtypes: int32(1), int64(1), object(2)
memory usage: 2.5+ MB

In [97]:
combine_post_rating = data.dropna(axis = 0, subset = ['title'])

post_ratingCount = (combine_post_rating.
     groupby(by = ['title'])['user_rating'].
     sum().
     reset_index().
     rename(columns = {'user_rating': 'Total_rating'})
     [['title', 'Total_rating']]
    )
post_ratingCount

                                                  title  Total_rating
0                                   10 Funny ART Quotes             5
1                               10 Funny BANKING Quotes             4
2                              10 Funny BUSINESS Quotes             7
3                                 10 Funny CRAFT Quotes             6
4                                 10 Funny DANCE Quotes             7
...                                                 ...           ...
5995  ZOOLOGY: Do You Really Need It? This Will Help...             5
5996                           ZOOLOGY: The Samurai Way             7
5997             ZOOLOGY: This Is What Professionals Do             9
5998                           ZOOLOGY: What A Mistake!             4
5999              ZOOLOGY? It's Easy If You Do It Smart             7

[6000 rows x 2 columns]

In [98]:
#post_ratingCount.to_csv(r'C:\Users\hp\Desktop\post reccomendation\total_rating.csv',index=False)

In [99]:
# user_view_data_merge = view_data.merge(user_data,on='user_id')

likes_with_totalRating =pd.merge(combine_post_likes,post_ratingCount,on="title",how="left")
likes_with_totalRating.head(50)

,user_id,post_id,user_rating,title,Total_rating
0,5eece14ffc13ae660900008b,136781766,0,Sexy BANKING,7
1,5eece14ffc13ae66090001da,136781766,0,Sexy BANKING,7
2,5eece14efc13ae660900003a,136781766,0,Sexy BANKING,7
3,5eece14ffc13ae6609000131,136781766,1,Sexy BANKING,7
4,5eece14ffc13ae6609000167,136781766,0,Sexy BANKING,7
5,5eece14ffc13ae6609000196,136781766,0,Sexy BANKING,7
6,5eece14efc13ae6609000056,136781766,0,Sexy BANKING,7
7,5eece14ffc13ae66090001a4,136781766,0,Sexy BANKING,7
8,5eece14ffc13ae6609000137,136781766,1,Sexy BANKING,7
9,5eece14ffc13ae66090001ba,136781766,0,Sexy BANKING,7
10,5eece14ffc13ae66090000d2,136781766,1,Sexy BANKING,7
11,5eece14ffc13ae660900009a,136781766,0,Sexy BANKING,7
12,5eece14ffc13ae66090001c8,136781766,1,Sexy BANKING,7
13,5eece14ffc13ae6609000121,136781766,1,Sexy BANKING,7
14,5eece14ffc13ae66090001e3,136781766,1,Sexy BANKING,7
15,5eece14ffc13ae66090000e9,136781766,1,Sexy BANKING,7
16,5eece14ffc13ae66090000c0,136781766,0,Sexy BANKING,7
17,5eece14ffc13ae66090001a2,136781766,0,Sexy BANKING,7
18,5eece14efc13ae660900003c,43094523,0,10 Ways To Immediately Start Selling PROGRAMMING,8
19,5eece14efc13ae660900004a,43094523,0,10 Ways To Immediately Start Selling PROGRAMMING,8
20,5eece14ffc13ae6609000134,43094523,1,10 Ways To Immediately Start Selling PROGRAMMING,8
21,5eece14ffc13ae66090001c3,43094523,1,10 Ways To Immediately Start Selling PROGRAMMING,8
22,5eece14ffc13ae66090000dc,43094523,0,10 Ways To Immediately Start Selling PROGRAMMING,8
23,5eece14efc13ae6609000068,43094523,0,10 Ways To Immediately Start Selling PROGRAMMING,8
24,5eece14ffc13ae6609000170,43094523,0,10 Ways To Immediately Start Selling PROGRAMMING,8
25,5eece14ffc13ae66090000b8,43094523,1,10 Ways To Immediately Start Selling PROGRAMMING,8
26,5eece14ffc13ae66090000db,43094523,0,10 Ways To Immediately Start Selling PROGRAMMING,8
27,5eece14ffc13ae660900010f,43094523,0,10 Ways To Immediately Start Selling PROGRAMMING,8
28,5eece14ffc13ae66090000cd,43094523,1,10 Ways To Immediately Start Selling PROGRAMMING,8
29,5eece14ffc13ae66090001ec,43094523,0,10 Ways To Immediately Start Selling PROGRAMMING,8
30,5eece14efc13ae6609000049,43094523,0,10 Ways To Immediately Start Selling PROGRAMMING,8
31,5eece14efc13ae660900005c,43094523,1,10 Ways To Immediately Start Selling PROGRAMMING,8
32,5eece14ffc13ae6609000159,43094523,0,10 Ways To Immediately Start Selling PROGRAMMING,8
33,5eece14ffc13ae660900016e,43094523,1,10 Ways To Immediately Start Selling PROGRAMMING,8
34,5eece14ffc13ae6609000088,43094523,1,10 Ways To Immediately Start Selling PROGRAMMING,8
35,5eece14efc13ae660900004f,43094523,1,10 Ways To Immediately Start Selling PROGRAMMING,8
36,5eece14efc13ae6609000024,43094523,0,10 Ways To Immediately Start Selling PROGRAMMING,8
37,5eece14efc13ae6609000025,42428071,0,DRAWING Adventures,7
38,5eece14ffc13ae6609000118,42428071,0,DRAWING Adventures,7
39,5eece14ffc13ae66090000b9,42428071,1,DRAWING Adventures,7
40,5eece14ffc13ae66090001b2,42428071,0,DRAWING Adventures,7
41,5eece14ffc13ae6609000086,42428071,1,DRAWING Adventures,7
42,5eece14ffc13ae66090000e0,42428071,0,DRAWING Adventures,7
43,5eece14ffc13ae66090000d9,42428071,0,DRAWING Adventures,7
44,5eece14ffc13ae6609000138,42428071,0,DRAWING Adventures,7
45,5eece14ffc13ae66090000c8,42428071,1,DRAWING Adventures,7
46,5eece14ffc13ae66090000b3,42428071,0,DRAWING Adventures,7
47,5eece14ffc13ae660900015d,42428071,1,DRAWING Adventures,7
48,5eece14efc13ae660900002a,42428071,0,DRAWING Adventures,7
49,5eece14ffc13ae6609000137,42428071,1,DRAWING Adventures,7

In [100]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
print(post_ratingCount['Total_rating'].describe())

count   6000.000
mean       5.970
std        2.461
min        0.000
25%        4.000
50%        6.000
75%        8.000
max       16.000
Name: Total_rating, dtype: float64

In [101]:
print(post_ratingCount['Total_rating'].quantile(np.arange(.9, 1, .01)))

0.900    9.000
0.910    9.000
0.920   10.000
0.930   10.000
0.940   10.000
0.950   10.000
0.960   11.000
0.970   11.000
0.980   12.000
0.990   12.000
Name: Total_rating, dtype: float64

In [102]:
popularity_threshold = 4
rating_popular_post = likes_with_totalRating.query('Total_rating >= @popularity_threshold')
rating_popular_post.tail()

,user_id,post_id,user_rating,title,Total_rating
71770,5eece14ffc13ae6609000086,458755008,1,3 Ways To Have (A) More Appealing POLITICS,4
71771,5eece14ffc13ae66090000dc,458755008,1,3 Ways To Have (A) More Appealing POLITICS,4
71772,5eece14ffc13ae6609000162,458755008,1,3 Ways To Have (A) More Appealing POLITICS,4
71773,5eece14ffc13ae660900019b,458755008,1,3 Ways To Have (A) More Appealing POLITICS,4
71774,5eece14ffc13ae660900009f,458755008,0,3 Ways To Have (A) More Appealing POLITICS,4

In [103]:
rating_popular_post.shape

(63815, 5)

In [104]:
user_data.head()

,user_id,first_name,last_name,gender,avatar,city,academics
0,5eece14efc13ae6609000000,Milena,Lacelett,Female,https://robohash.org/quisidomnis.png?size=50x5...,Blagoveshchensk,undergraduate
1,5eece14efc13ae6609000001,Nolan,Satcher,Male,https://robohash.org/dignissimosrepudiandaedol...,Wufeng,undergraduate
2,5eece14efc13ae6609000002,Eveleen,Cotterell,Female,https://robohash.org/remomnissuscipit.png?size...,Barra Bonita,undergraduate
3,5eece14efc13ae6609000003,Petrina,Berr,Female,https://robohash.org/estquasconsectetur.png?si...,San Angelo,undergraduate
4,5eece14efc13ae6609000004,Saunderson,Duquesnay,Male,https://robohash.org/nullaaest.png?size=50x50&...,Olszówka,graduate

In [105]:
len(user_data.city.unique())

491

In [106]:
from scipy.sparse import csr_matrix
rating_popular_post = rating_popular_post.drop_duplicates(['user_id', 'title'])
rating_popular_post_pivot = rating_popular_post.pivot(index = 'title', columns = 'user_id', values = 'user_rating').fillna(0)
rating_popular_post_matrix = csr_matrix(rating_popular_post_pivot.values)

from sklearn.neighbors import NearestNeighbors


model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(rating_popular_post_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [107]:
rating_popular_post_pivot.shape[0]

5059

In [108]:
rating_popular_post_pivot

user_id,5eece14efc13ae6609000000,5eece14efc13ae6609000001,5eece14efc13ae6609000002,5eece14efc13ae6609000003,5eece14efc13ae6609000004,5eece14efc13ae6609000005,5eece14efc13ae6609000006,5eece14efc13ae6609000007,5eece14efc13ae6609000008,5eece14efc13ae6609000009,...,5eece14ffc13ae66090001ea,5eece14ffc13ae66090001eb,5eece14ffc13ae66090001ec,5eece14ffc13ae66090001ed,5eece14ffc13ae66090001ee,5eece14ffc13ae66090001ef,5eece14ffc13ae66090001f0,5eece14ffc13ae66090001f1,5eece14ffc13ae66090001f2,5eece14ffc13ae66090001f3
title,,,,,,,,,,,,,,,,,,,,,
10 Funny ART Quotes,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000
10 Funny BANKING Quotes,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
10 Funny BUSINESS Quotes,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
10 Funny CRAFT Quotes,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
10 Funny DANCE Quotes,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZOOLOGY: Do You Really Need It? This Will Help You Decide!,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
ZOOLOGY: The Samurai Way,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
ZOOLOGY: This Is What Professionals Do,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
ZOOLOGY: What A Mistake!,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
ZOOLOGY? It's Easy If You Do It Smart,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,...,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000

In [112]:
query_index = np.random.choice(rating_popular_post_pivot.shape[0])
print(query_index)
distances, indices = model_knn.kneighbors(rating_popular_post_pivot.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)

4403

In [113]:
rating_popular_post_pivot.index[query_index]

' Wondering How To Make Your ART Rock? Read This!'

In [114]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(rating_popular_post_pivot.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, rating_popular_post_pivot.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for  Wondering How To Make Your ART Rock? Read This!:

1:  Can You Really Find DRAWING (on the Web)?, with distance of 0.5917517095361369:
2:  The Number One Reason You Should (Do) BANKING, with distance of 0.591751709536137:
3:  The Lazy Way To SCIENCE, with distance of 0.6348516283298893:
4:  Use ZOOLOGY To Make Someone Fall In Love With You, with distance of 0.6666666666666665:
5:  What Everyone Must Know About OPERATING SYSTEM, with distance of 0.6913933000758161: