In [1]:
import pandas as pd
import numpy as np

In [2]:
user_data = pd.read_csv("user_data.csv")
post_data = pd.read_csv("post_data.csv")
view_data = pd.read_csv("view_data.csv")

In [3]:
user_data.head(10)

,user_id,first_name,last_name,gender,avatar,city,academics
0,5eece14efc13ae6609000000,Milena,Lacelett,Female,https://robohash.org/quisidomnis.png?size=50x5...,Blagoveshchensk,undergraduate
1,5eece14efc13ae6609000001,Nolan,Satcher,Male,https://robohash.org/dignissimosrepudiandaedol...,Wufeng,undergraduate
2,5eece14efc13ae6609000002,Eveleen,Cotterell,Female,https://robohash.org/remomnissuscipit.png?size...,Barra Bonita,undergraduate
3,5eece14efc13ae6609000003,Petrina,Berr,Female,https://robohash.org/estquasconsectetur.png?si...,San Angelo,undergraduate
4,5eece14efc13ae6609000004,Saunderson,Duquesnay,Male,https://robohash.org/nullaaest.png?size=50x50&...,Olszówka,graduate
5,5eece14efc13ae6609000005,Mirna,Cadwell,Female,https://robohash.org/eoseaqueaut.png?size=50x5...,Vito,graduate
6,5eece14efc13ae6609000006,Michal,Khoter,Female,https://robohash.org/quaeratmagniaperiam.png?s...,Desa Nasol,undergraduate
7,5eece14efc13ae6609000007,Faustine,Abberley,Female,https://robohash.org/etnesciuntlaborum.png?siz...,Yamaguchi-shi,graduate
8,5eece14efc13ae6609000008,Jamima,Di Maria,Female,https://robohash.org/etveltempore.png?size=50x...,Qingshuihe,graduate
9,5eece14efc13ae6609000009,Harris,Smead,Male,https://robohash.org/praesentiumutet.png?size=...,Parawan,undergraduate

In [4]:
post_data.head()

                                               title     category    post_id
0                        Find A Quick Way To GRAPHIC      graphic   10260109
1                                  How To Sell CRAFT        Craft   39550285
2  POLITICS An Incredibly Easy Method That Works ...     politics  935118791
3                  5 Brilliant Ways To Use POLITICAL    political  151805043
4   How To Make Your MATHEMATICS Look Amazing In ...  Mathematics  995833095

In [5]:
view_data.head(6)

                    user_id    post_id           time_stamp
0  5eece14ffc13ae660900008b  136781766  01/01/2019 01:30 PM
1  5eece14efc13ae660900003c   43094523  01/01/2019 01:33 PM
2  5eece14efc13ae6609000025   42428071  01/01/2019 01:43 PM
3  5eece14ffc13ae66090001d4   76472880  01/01/2019 01:54 PM
4  5eece14ffc13ae66090000ac  202721843  01/01/2019 02:00 PM
5  5eece14ffc13ae66090001bd  104702447  01/01/2019 02:04 PM

In [6]:
print("user_data",user_data.shape)
print("post_data",post_data.shape)
print("view_data",view_data.shape)

user_data (500, 7)
post_data (6000, 3)
view_data (71800, 3)

In [7]:
user_view_data_merge = view_data.merge(user_data,on='user_id')
user_view_data_merge.head()

,user_id,post_id,time_stamp,first_name,last_name,gender,avatar,city,academics
0,5eece14ffc13ae660900008b,136781766,01/01/2019 01:30 PM,Hollie,Stower,Female,https://robohash.org/natuseosesse.png?size=50x...,Mevo horon,undergraduate
1,5eece14ffc13ae660900008b,122462900,01/02/2019 10:06 AM,Hollie,Stower,Female,https://robohash.org/natuseosesse.png?size=50x...,Mevo horon,undergraduate
2,5eece14ffc13ae660900008b,921614328,01/03/2019 11:45 PM,Hollie,Stower,Female,https://robohash.org/natuseosesse.png?size=50x...,Mevo horon,undergraduate
3,5eece14ffc13ae660900008b,741826386,01/07/2020 08:58 AM,Hollie,Stower,Female,https://robohash.org/natuseosesse.png?size=50x...,Mevo horon,undergraduate
4,5eece14ffc13ae660900008b,602135924,01/07/2020 12:43 PM,Hollie,Stower,Female,https://robohash.org/natuseosesse.png?size=50x...,Mevo horon,undergraduate

In [8]:
user_view_post_data_merge = post_data.merge(view_data,on='post_id')
user_view_post_data_merge.head(5)

,title,category,post_id,user_id,time_stamp
0,Find A Quick Way To GRAPHIC,graphic,10260109,5eece14efc13ae660900000e,01/05/2020 05:42 AM
1,Find A Quick Way To GRAPHIC,graphic,10260109,5eece14ffc13ae6609000179,02/26/2020 04:20 PM
2,Find A Quick Way To GRAPHIC,graphic,10260109,5eece14ffc13ae66090000a2,02/28/2020 02:17 AM
3,Find A Quick Way To GRAPHIC,graphic,10260109,5eece14ffc13ae6609000142,10/19/2019 09:17 AM
4,Find A Quick Way To GRAPHIC,graphic,10260109,5eece14ffc13ae66090000b2,11/06/2019 09:22 AM

In [9]:
##user_view_post_data_df=pd.DataFrame(user_view_post_data_merge)
###filter(items=({"category":["graphic"]}))

In [10]:
df = user_view_post_data_merge.loc[user_view_post_data_merge['category']=="graphic"]
df.drop_duplicates("post_id",)

,title,category,post_id,user_id,time_stamp
0,Find A Quick Way To GRAPHIC,graphic,10260109,5eece14efc13ae660900000e,01/05/2020 05:42 AM
446,3 Ways To Master GRAPHIC Without Breaking A S...,graphic,212587612,5eece14ffc13ae660900017b,01/04/2019 02:26 PM
1260,Congratulations! Your GRAPHIC Is (Are) About ...,graphic,290105981,5eece14ffc13ae6609000101,01/30/2020 04:44 PM
1302,How To Make Your Product Stand Out With GRAPHIC,graphic,798979125,5eece14ffc13ae66090001bb,01/12/2020 06:28 PM
1371,How To Learn GRAPHIC,graphic,383609014,5eece14ffc13ae66090001e5,03/05/2020 12:44 AM
...,...,...,...,...,...
70789,10 Unforgivable Sins Of GRAPHIC,graphic,769357618,5eece14ffc13ae660900010c,01/03/2020 02:37 PM
70854,10 Funny GRAPHIC Quotes,graphic,129629592,5eece14ffc13ae66090000e1,02/23/2019 11:32 AM
71078,The Ultimate Guide To GRAPHIC,graphic,885672187,5eece14ffc13ae66090001ad,01/09/2020 01:56 PM
71156,Who Else Wants To Be Successful With GRAPHIC,graphic,608512790,5eece14ffc13ae6609000135,01/11/2020 04:03 AM
71632,Master (Your) GRAPHIC in 5 Minutes A Day,graphic,386889586,5eece14ffc13ae66090000b3,01/09/2019 01:25 AM

In [11]:
x = input("enter your category ? ")
post_new=user_view_post_data_merge.loc[user_view_post_data_merge['category']==x,"post_id"]
post_new

0         10260109
1         10260109
2         10260109
3         10260109
4         10260109
           ...
71642    386889586
71643    386889586
71644    386889586
71645    386889586
71646    386889586
Name: post_id, Length: 3498, dtype: int64

In [12]:
post_new.drop_duplicates()

0         10260109
446      212587612
1260     290105981
1302     798979125
1371     383609014
           ...
70789    769357618
70854    129629592
71078    885672187
71156    608512790
71632    386889586
Name: post_id, Length: 300, dtype: int64